.time-date {
  display: flex;
  align-content: center;
  height: 85px;
  border: solid 0.5px rgb(45, 46, 47);
  overflow: hidden;
}

#header-date {
  margin: auto;
  padding: 12px;

  &:hover {
    color: orange;
  }

  .week-day {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .month-day {
    font-size: 0.8rem;
    font-weight: 100;
  }
}
