#guide-style {
    color: white;
    word-wrap: break-word;
    border: solid 0.5px rgb(45, 46, 47);
    text-align: left;
    height: 8.0166vh;
    min-height: 80px;
    padding: 17px;

    .program-title {
        font-size: 1.1rem;
        margin: 0;
        font-weight: 500;

        &:hover {
            color: orange;
        }
    }

    .program-time {
        font-size: 1.1rem;
        margin: 0;
        font-weight: 100;
    }

    h1 {
        color: white;

    }

    span {
        color: grayscale($color: #daaaaa);
    }
}

.shownow {
    background-color: gray;
}

@media all and (max-width: 320px) {
    #guide-style {
        height: 14.5vh;
        padding: 11px;

        .program-title {
            font-size: 0.7em;
            margin: 0;
            font-weight: 500;
        }

        .program-time {
            font-size: 0.7rem;
            margin: 0;
            font-weight: 100;
        }
    }
}