.footer {
    display: flex;
    position: fixed;
    background-color: rgb(27, 28, 29);
    color: white;
    justify-content: space-around;
    width: 100%;
    padding: 22px;
    bottom: 0;
    z-index: 3;
    box-shadow: 1px 0 11px 1px black;

    .large {
        color: white;

        &:hover {
            color: orange;
        }
    }
}