#shows-container {
  background-color: black;
  width: 100%;
  align-content: center;

  .show-header {
    height: 600px;
  }

  .show-meta {
    height: 222px;
  }
}

.show-content {
  padding: 22px 0 100px 0;
  color: white;
  background-color: black;
  width: 100%;

  p {
    height: auto;
    width: 70%;
    margin: 11px auto auto auto;
  }

  .season-episodes {
    text-align: center;

    .show-seasons {
      margin: auto;
      margin-top: 22px;
      margin-bottom: 0px;
    }

    .show-episodes {
      margin: -22px auto auto auto;

      .episodes {
        margin-top: 11px;
      }
    }
  }
}

@media all and (max-width: 420px) {
  #shows-container {
    .show-header {
      height: 355px;
    }
  }
}